<div class="container mt-4">
  <div class="row">
    <div class="col-md-3 m-3"  *ngFor="let item of products let index= index">
      <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR06c7AM5j2432ChYhue1B5oIZgj-Mz3oxPzg&usqp=CAU" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"> Product Name: {{item.name}}</h5>
          <p class="card-text"> Stock: {{item.stock}}</p>
          <p class="card-text"> Price: {{item.unitPrice}}</p>
          <a href="#" class="btn btn-primary">Add Basket</a>
        </div>
      </div>
    </div>
  </div>
</div>
